#sidebar-color{
    background-color: #e7e7e7;
}
.color-menu{
    color: #fe551c;
    font-weight: bold;
}
.container{
    margin-bottom: 10px;
}
.nav-margin{
    margin-right: 400px;
}
.btn-margin{
    margin-left: 5px;
}
.logo-nav{
    height: 50px;
}
.link-nome-logo{
    font-weight: bold;
    text-transform: uppercase;
}
.div-usuario{
    width: 650px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 13px;
    background-color: white;
}
.img-nome{
    height: 70px;
}
.especificacoes{
    border: 1px solid green;
    width: 500px;
    margin: auto;
    padding: 10px;
}
.img-nome-largura{
    height: 50px;
}
.envelope{
    padding: 10px;
    background-color: white;
    width: 660px;
    margin: auto;
    margin-top: 30px;
}
.fav{
    margin-top: 20px;
    width: 400px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    width: 900px;
}
.form-img{
    height: 200px;
}
.esp{
    border-bottom: 1px solid lightgray;
    display: inline;
    width: 600px;
    vertical-align: top;
    padding: 10px;
}
