<!-- recebe como argumento o resultado do evento desparado -->
<!--<app-nova-transferencia></app-nova-transferencia>-->
<!--usando <{'{}'} => interpolacao > impirmir variaveis no meio do html-->
<!--usando <'?' => if ternario > se transferencia for != de any ele puxar o valor -->
<!--<app-extrato></app-extrato>-->
<header>
  <a routerLink="extrato">Bytebank</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova transferência</a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
