<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista telefonica</title>
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="../../../node_modules/angular/angular.js"></script>
  <script src="../../../node_modules/angular-messages/angular-messages.js"></script>
  <script>
	angular.module("listaTelefonica", ["ngMessages"]);
	angular.module("listaTelefonica").controller("listaTelefonicaController", ($scope) => {
		$scope.app = 'Lista telefonica'
		$scope.contatos = [
			{nome: 'joao', numero: '123321121', cor: 'red', data: new Date()},
			{nome: 'pedro', numero: '123321122', cor: 'blue', data: new Date()},
			{nome: 'ana', numero: '123321123', cor: 'green', data: new Date()},
			{nome: 'zebra', numero: '123321124', cor: 'purple', data: new Date()}
		] 

		$scope.operadoras = [
			{nome: 'nome1', codigo: '123321121', categoria: 'fixo'},
			{nome: 'nome2', codigo: '123321121', categoria: 'fixo'},
			{nome: 'nome3', codigo: '123321121', categoria: 'celular'},
			{nome: 'nome4', codigo: '123321121', categoria: 'celular'},
		] 
		

		$scope.adicionarContato = (contato) => {
			$scope.contatos.push(angular.copy(contato));
			delete $scope.contato;
			$scope.contatoForm.$setPristine();
		};

		$scope.apagarContatos = (contatos) => {
			$scope.contatos = contatos.filter((contato)=>{
				return !contato.selecionado
			});
		}

		$scope.isContatosSelecionados = (contatos) => {
			var teste = contatos.some((contato)=>{
				return contato.selecionado;
			})
		}

		$scope.ordenarPor = (campo) => {
			$scope.criterioOrdenacao = campo;
		}
	})
  </script>
</head>
<body ng-controller="listaTelefonicaController">
  <div class="container-fluid d-flex justify-content-center">
    <div class="card mt-4 p-4 text-center" style="width: 600px;">
      <h4 class="mt-2">{{ app }}</h4>
      <input type="text" class="form-control" ng-model="busca">
      <hr>
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('nome')" >nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')" >telefone</a></th>
            <th>operadora</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <!-- 
              ng-class="variavel" 
              ng-class="[variavel, variavel2]" 
              ng-class="{ 'classe'/variavel: condição para coloca r}" 

              --- colcoar conjunto de classes na msm condiçao
              ng-class="{ 'classe classe ou variavel vcariavel': condição para coloca}" 
          -->

          <!--
            filter

|           filter:'busca';
|           filter: variavel;
|           filter: { nome: variavel };
            orderBy: 'variavel';
            orderBy: '+variavel'; asc
            orderBy: '-variavel'; desc
            orderBy: 'variavel': true; asc
            orderBy: 'variavel': false; desc

          -->
  
          <tr ng-class="{ 'bg-warning': contato.selecionado }" ng-repeat="contato in contatos | filter:{ nome: busca } | orderBy: criterioOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{ contato.nome | uppercase }}</td>
            <td>{{ contato.numero }}</td>
            <td>{{ contato.operadora }}</td>
            <td>{{ contato.data | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <div
                 style="width: 15px; height: 15px; background-color: yellow; border-radius: 200px;" 
                 ng-style="{'background-color': contato.cor}" >

              </div>
            </td>
          </tr>
  
        <!-- ## Outra forma de percorrer com chave e valor  -->
  
        <!--
          <tr ng-repeat="contato in contatos">
            <td ng-repeat="(key, value) in contato" >{{ value }}</td>
          </tr>
        -->
        </tbody>
      </table>
      <hr>

      <!-- ng-model to way data binding -->

      <div class="row m-2">
        <div class="col-md-12">
          <form name="contatoForm">

            <!-- 
              form name
              cria um obj no $scope para validar 
              ng-required para validar os campos

              dentro deste obj pode ter 

              $pristine -> ainda n foi mexido
              $dirty -> o campo ja foi mexido

              $valid -> se esta preenchido
              $invalid -> se esta vazio

              $error -> campura um erro de diretiva 
                contatoForm.nome.$error.minlength
                contatoForm.nome.$error.required

            -->

            <label for="">Nome</label>
            <input 
              type="text" 
              class="form-control" 
              ng-model="contato.nome" 
              name="nome" 
              ng-required="true"
              ng-minlength="10"
            >
  
            <label for="">Telefone</label>
            <input 
              type="text" 
              class="form-control" 
              ng-model="contato.numero"               
              ng-pattern="/^\d{4,5}-\d{4}$/" 
              name="numero" 
              ng-required="true"
            >
            <label for="">Operadoras</label>
            <!-- operadora.codigo (value define o valor de retorno) as operadora.nome (label define o titulo)-->
            <!-- operadora.nome group by operadora.categoria(grupa e organiza o selected ) for operadora in operadoras -->
            <select 
              class="form-control"
              ng-model="contato.operadora" 
              ng-options="operadora.nome for operadora in operadoras">
              <option value="">Selecione uma operadora</option>
            </select>
          </form>
          <div ng-messages="contatoForm.nome.$error">

            <div class="alert alert-danger mt-3" ng-message="required">
              Preencha o nome
            </div>

            <div class="alert alert-danger mt-3" ng-message="minlength">
              No minimo 10 caracteres
            </div>

          </div>

            <div 
                class="alert alert-danger mt-3" 
                ng-show="contatoForm.numero.$error.required && contatoForm.numero.$dirty"
            >
              Preencha o numero
            </div>
            <div 
                class="alert alert-danger mt-3" 
                ng-show="contatoForm.numero.$error.pattern"
            >
              Formato de numero errado
            </div>

        </div>
      </div>
      <div class="row m-2">
        <div class="col-md-12">
          <button 
            class="btn btn-primary btn-block btn-sm" 
            ng-click="adicionarContato(contato)" 
            ng-disabled="contatoForm.$invalid" 
          >
            Adicionar
          </button>
          <button 
            class="btn btn-danger btn-block btn-sm" 
            ng-click="apagarContatos(contatos)" 
            ng-disabled="isContatosSelecionados(contatos)">
              Apagar contatos
          </button>
        </div>
      </div>
      <!-- ng-show/ng-hide esconde o elemento e ng-if remove o elemento -->
    </div>
  </div>
  <!-- inclui uma pagina html -->
  <div ng-include="'footer.html'"></div>
</body>
</html>